<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse"></div>
        <div th:replace="admin/menu :: menu"></div>
    </nav>
</aside>
<!-- /#left-panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div th:replace="admin/header :: header"></div>

    </header>
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Suppliers &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                                        data-target="#exampleModalAdd"><i class="fa fa-plus"></i>&nbsp; add
                                </button>
                            </h1>

                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Suppliers</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">List of Suppliers</strong>
                        </div>
                        <div class="card-body">


                            <table id="bootstrap-data-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>*</th>
                                    <th>Company Name</th>
                                    <th>Country</th>
                                    <th>Address</th>
                                    <th>Phone Number</th>
                                    <th>E-mail</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="suppliers : ${supplier}">
                                    <tr>
                                        <td th:text="${suppliers.supplierid}">...</td>
                                        <td th:text="${suppliers.name}">...</td>
                                        <td th:each="country : ${suppliers.country}">
                                            <span th:text="${country.name}">Street</span>
                                        </td>

                                        <td th:text="${suppliers.address}">...</td>
                                        <td th:text="${suppliers.phonenumber}">...</td>
                                        <td th:text="${suppliers.email}">...</td>

                                        <td>
                                            <button onclick="setterEdit(this)" th:id="${suppliers.supplierid}"
                                                    data-toggle="modal" data-target="#exampleModalEdit"
                                                    th:data-name="${suppliers.name}"
                                                    th:data-country="${suppliers.country.name}"
                                                    th:data-countryid="${suppliers.country.countryid}"
                                                    th:data-address="${suppliers.address}"
                                                    th:data-phonenumber="${suppliers.phonenumber}"
                                                    th:data-email="${suppliers.email}"
                                                    th:data-id="${suppliers.supplierid}"
                                                    type="button"
                                                    class="btn btn-outline-warning"><i
                                                    class="fa fa-edit"></i>&nbsp; Edit
                                            </button>&nbsp;&nbsp;&nbsp;
                                            <button onclick="setter(this)" th:id="${suppliers.supplierid}"
                                                    type="button" class="btn btn-outline-danger" data-toggle="modal"
                                                    data-target="#exampleModalCenter"><i
                                                    class="fa fa-minus"></i>&nbsp; Delete
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
    <!--Modal Add-->
    <div class="modal fade" id="exampleModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="add-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-country" class="col-form-label">Country:</label>
                            <!--                            <input type="text" class="form-control" id="add-country">-->

                            <select name="select" id="add-country" class="form-control">

                                <option>--Please choose an option--</option>
                                <option th:each="cntr : ${countriess}"
                                        th:value="${cntr.countryid}"

                                        th:text="${cntr.name}">
                                </option>

                            </select>

                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Address:</label>
                            <input type="text" class="form-control" id="add-address">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Phone Number:</label>
                            <input type="text" class="form-control" id="add-phonenumber">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">E-mail:</label>
                            <input type="text" class="form-control" id="add-email">
                            <input type="hidden" id="add-hidden" name="hidden" value="">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="addData()" class="btn btn-success update-supplier">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Edit-->
    <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit data of </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group mustselected">
                            <label class="col-form-label">Country:</label>

                            <select name="select" id="recipient-country" class="form-control">

                                <!--                                <option th value="1">Azerbaijan</option>-->
                                <!--                                <option value="2">Turkey</option>-->
                                <!--                                <option value="3">Mozambique</option>-->

                                <option th:each="cntr : ${countriess}"
                                        th:value="${cntr.countryid}"

                                        th:text="${cntr.name}">
                                </option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Address:</label>
                            <input type="text" class="form-control" id="recipient-address">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Phone Number:</label>
                            <input type="text" class="form-control" id="recipient-phonenumber">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">E-mail:</label>
                            <input type="text" class="form-control" id="recipient-email">
                            <input type="hidden" id="hidden" name="hidden" value="">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="updateDataById()" class="btn btn-success update-supplier">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancel
                    </button>
                    <button onclick="deleteDataById(this)" class="btn btn-outline-danger btn-fw delete-supplier"
                            role="button" aria-pressed="true"><i
                            class="fa fa-trash-o mr-3"></i>Confirm
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div th:replace="admin/footer :: footer"></div>
        </div>
    </footer>

</div><!-- /#right-panel -->

<!-- Right Panel -->

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="assets/js/main.js"></script>


<script src="assets/js/lib/data-table/datatables.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/jszip.min.js"></script>
<script src="assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="assets/js/init/datatables-init.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable();


    });

    $('#exampleModalEdit').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('name') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
///////////////////////////////////////////////////////////
        var tuple = button.data('countryid');

        $("div.mustselected select").val(tuple);
///////////////////////////////////////////////////////////
        // alert();
        $("#recipient-name").val(button.data('name'));
        // $("#recipient-country").val(button.data('country'));
        $("#recipient-address").val(button.data('address'));
        $("#recipient-phonenumber").val(button.data('phonenumber'));
        $("#recipient-email").val(button.data('email'));
        $("#hidden").val(button.data('id'));

        modal.find('.modal-title').text('Edit the datas of - ' + recipient)
        modal.find('.modal-body ').val(recipient)
    })

    $('#exampleModalAdd').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('name') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)

        modal.find('.modal-title').text('Add new Entry')
        modal.find('.modal-body ').val(recipient)
    })


    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes


        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body ').val(recipient)
    })

    function setter(btn) {
        var id = $(btn).attr("id");

        $(".delete-supplier").attr("id", id);
    }

    function setterEdit(btn) {
        var id = $(btn).attr("id");
    }

    function deleteDataById(btn) {

        var id = $(btn).attr("id");

        $.ajax
        (
            {
                url: '/admin/deleteSupplier',
                data: {"id": id},
                type: 'post',
                cache: false,
                success: function (data) {

                    if (data === "deleted") {
                        location.reload();
                        //$("#bootstrap-data-table").DataTable().ajax.reload(null, false);
                    }

                },
                error: function () {
                    // alert('error');
                }
            }
        );

    };


    function updateDataById() {
        var id = $("#hidden").val();
        var name = $("#recipient-name").val();
        var countryid = $("#recipient-country option:selected").val();
        var address = $("#recipient-address").val();
        var phonenumber = $("#recipient-phonenumber").val();
        var email = $("#recipient-email").val();

        $.ajax
        (
            {
                url: '/admin/updateSupplier',
                data: {
                    "id": id,
                    "name": name,
                    "countryid": countryid,
                    "phonenumber": phonenumber,
                    "address": address,
                    "email": email
                },
                type: 'post',
                cache: false,
                success: function (data) {

                    location.reload();

                },
                error: function () {
                    // alert('error');
                }
            }
        );

    };

    function addData() {
        var id = $("#add-hidden").val();
        var name = $("#add-name").val();
        var countryid = $("#add-country").val();
        var address = $("#add-address").val();
        var phonenumber = $("#add-phonenumber").val();
        var email = $("#add-email").val();
        alert("name " + name);

        $.ajax
        (
            {
                url: '/admin/addSupplier',
                data: {
                    // "id": id,
                    "name": name,
                    "countryid": countryid,
                    "phonenumber": phonenumber,
                    "address": address,
                    "email": email
                },
                type: 'post',
                cache: false,
                success: function (data) {

                    location.reload();

                },
                error: function () {
                    // alert('dataaa   '+data)
                    // alert('error');
                }
            }
        );

    };
</script>


</body>
</html>
